<div class="container mt-4">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://img.freepik.com/free-vector/taxi-app-interface-concept_23-2148484167.jpg?w=1380&t=st=1713778642~exp=1713779242~hmac=e0c30650caf7d6a895dc7b6c7e3c496c10adf66b2226d1d209c1a4928c6181f4" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
              <img src="https://img.freepik.com/free-vector/man-searching-car-rent_74855-7610.jpg?w=1380&t=st=1713778659~exp=1713779259~hmac=1c0a5f1d6f2a86e32dcca8166ba9d87f711e344bbb1d7a8c7c3d66fb77a657ca" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
              <img src="https://img.freepik.com/free-vector/taxi-app-concept_23-2148496605.jpg?w=1380&t=st=1713778679~exp=1713779279~hmac=a56a37f2fe8d10405156ed967d9c3eb1b881bc1f196ca7b41de1b5b8e143fc5d" class="d-block w-100" alt="Slide 3">
          </div>
      </div>
  </div>